.stable-diffusion-editor {
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: transparent;
    --tw-ring-color: var(--wp-admin-theme-color);
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
}
.stable-diffusion-editor *,
.stable-diffusion-editor *:after,
.stable-diffusion-editor *:before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add more styles here specific to the editor only */

.stable-diffusion-editor.stable-diffusion-modal {
    @apply fixed z-high inset-0 overflow-y-auto;
}
.ringed {
    @apply rounded-none border border-gray-900 focus:outline-none focus:ring-1 ring-offset-1 ring-wp-theme-500 focus:shadow-none;
}
